<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="icon" href="../nutils.svg"/>
    <link rel="stylesheet" href="../style.css"/>
    <!-- katex -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous"/>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
  </head>
  <body>
    <div id="header">
      <a href="https://nutils.org/">
        <svg class="logo" viewBox='-8 -8 16 16'>
          <path d='M -7 -2 a 5 5 0 0 1 +10 0 v +4 a 1 1 0 0 1 -2 0 v -4 a 3 3 0 0 0 -6 0 v +4 a 1 1 0 0 1 -2 0 Z'/>
          <path d='M +7 +2 a 5 5 0 0 1 -10 0 v -4 a 1 1 0 0 1 +2 0 v +4 a 3 3 0 0 0 +6 0 v -4 a 1 1 0 0 1 +2 0 Z'/>
        </svg>
      </a>
      <a href="https://nutils.org/">Nutils</a>
      <div>/</div>
      <a href="..">Examples</a>
      <div>/</div>
      <div>{{name}}</div>
    </div>
    <div id="example">
      <div class="status">
        <p>
        <a href="{{script_url}}" rel="external" class="btn script">view script <span class="round">&gt;</span></a>
        <a href="log.html" class="btn log">view log <span class="round">&gt;</span></a>
        </p>
      </div>
      <div class="images-strip">
        {{~#each images~}}
          <img src="{{this}}" loading="lazy"/>
        {{~/each~}}
      </div>
      <div class="description">
        <p><i>By {{authors}}</i></p>
        <p>{{#each tags}}<span class="tag">{{this}}</span>{{/each}}</p>
      {{{description}}}</div>
    </div>
  </body>
</html>
